@font-face {
 	font-family: 'Roboto';
 	src: url("../Roboto/Roboto-Regular.ttf");
 	font-weight: normal;
 	font-style: normal;
 	font-display: swap;
}

@font-face {
    font-family: 'Shrikhand';
    src: url("../Shrikhand/Shrikhand-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

body
{
	font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

#bloc_page
{
	border: 2px solid pink;
}
#logo
{
	font-family: 'Shrikhand', cursive;
	font-size: 2em;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}


*:focus {
outline: none;
}

a /*Liens non survolés*/
{
	text-decoration: none;
	color: black;
}

header
{
	margin: 5px 0 0px 0;
}

#recherche
{
	box-shadow: inset 0px 4px 3px rgba(160, 160, 160, .6);
	padding: 17px 0px;
	margin-bottom: 0px;
	background-color: #e2e2e0;

}

#champ_recherche
{
	background-color: #e2e2e0;
	padding-left: 15px;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: bold;
}

#champ_recherche a:active
{
	border: none;
}

#map_champ
{
	margin-left: 25%;
}

.fa-map-marker-alt
{
	color: black;
}

.presentation
{
	margin-top: 0px;
	padding-bottom: 33%;
	background-color: #f2f2f2;
}

footer h3
{
	font-family: 'Shrikhand', cursive;
}

h1
{
	font-size: 1.6em;
	text-align: center;
	padding: 17px 37px 0px 37px;
	margin-bottom: -8px;
}

#reserver p
{
	text-align: center;
	font-size: 1.1em;
}

#reserver
{
	position: relative;
}

#explorer
{
	position: absolute;
	margin:0;
	top: 145%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	font-size: 1.1em;
	color: white;
	background: linear-gradient(#FF79DA, #9356DC);
	padding: 17px 25px;
	border-radius: 30px;
	box-shadow: 4px 4px 4px lightgrey;
	border: none;
}

#fonctionnement
{
	border: 2px solid blue;
	position: relative;
}

#fonctionnement h2
{
	font-size: 1.4em;
	margin-left: 20px;
	margin-top: 13%;

}

button
{text-align: left;}

#fonctionnement button
{
	font-size: 1em;
	font-weight: bold;
	border: none;
	padding: 26px 0px;
	width: 90%;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 4px 4px 4px lightgrey;
	margin-left: 7%;
	background-color: #f7f7f7;
}

ol
{
	padding: 0;
	list-style-type: none;
	display: block;
}


.num
{
	position: absolute;
	margin-top: 7%;
	margin-left: 4%;
	padding: 4px 9px;
	border-radius: 50%;
	background-color: #9356DC;
	color: white;
	font-size: 0.8em;
}

.icone1
{
	margin-right: 6%;
	margin-left: 10%;
	color: grey;
	font-size: 1.4em;
}

.icone2
{
	margin-right: 5%;
	margin-left: 10%;
	color: grey;
	font-size: 1.3em;
}

.icone3
{
	margin-left: 10%;
	margin-right: 5%;
	color: grey;
	font-size: 1.2em;
}

#restaurants
{
	background-color: #f7f7f7;
	padding-top: 10%;
	padding-bottom: 10%;
}

#restaurants h2
{
	margin-left: 5%;
}

#restaurants h3
{
	margin-top: 10px;
	margin-left: 15px;
}

#restaurants p
{
	margin-left: 15px;
	margin-top: -13px;

}

.container_resto
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}

.resto1
{
	background-image: url(../img/la_palette_du_gout.jpg);
}

.resto2
{
	background-image: url(../img/la_note_enchantee.jpg);
}

.resto3
{
	background-image: url(../img/a_la_francaise.jpg);
}

.resto4
{
	background-image: url(../img/le_delice_des_sens.jpg);
}

.forme_carte
{
	border-radius: 20px;
	background-color: white;
	width: 90%;
	height: 254px;
	margin-top: 15px;
}

.forme_photo
{
	width: 100%;
	height: 177px;
	background-size: cover;
	border-radius: 20px 20px 0 0;
}

.new
{
	position: absolute;
	background-color: #99E2D0;
	padding: 7px 15px;
	margin-left: 60%;
	margin-top: 4%;
	color: #10715a;
	font-weight: bold;
}

.fa-heart
{
	position: absolute;
	margin-left: 77%;
	margin-top: 6%;
	font-size: 1.5em;
}



