@font-face {
 	font-family: 'Roboto';
 	src: url("../Roboto/Roboto-Regular.ttf");
 	font-weight: normal;
 	font-style: normal;
 	font-display: swap;
}

@font-face {
    font-family: 'Shrikhand';
    src: url("../Shrikhand/Shrikhand-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body
{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin: 0;
}

* 
{
  box-sizing: border-box;
}

.space_spinner
{
	display: flex;
	justify-content: center;
	background-color: #f2f2f2;
	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: 20%;
	z-index: 1;
	animation-name: space_spinner;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

@keyframes space_spinner
{
	0% {opacity: 1;}
	50% {opacity: 1;}
	100% {opacity: 0; z-index: -10;}
}

@media (max-width: 500px){
.space_spinner
{
	padding-top: 35%;
}
}

.spinner
{
  	width: 900px;
  	height: 900px;
  	border: 50px solid #f2f2f2;
  	border-radius: 50%;
  	border-top: 50px solid #9356DC;
  	border-bottom: 50px solid #FF79DA;
  	animation-name: spinner;
  	animation-duration: 3s; 
  	animation-timing-function: ease;
  	animation-timing-function: cubic-bezier(0, -1.5, 1, 1);
}

@keyframes spinner
{
	0% {transform: rotate(0deg);}
	80%{opacity: 0;}
	100%{transform: rotate(720deg); opacity: 0;}
}

@media (max-width: 768px){
.spinner
{
  	width: 700px;
  	height: 700px;
  	border: 40px solid #f2f2f2;
  	border-radius: 50%;
  	border-top: 40px solid #9356DC;
  	border-bottom: 40px solid #FF79DA;
}
}

@media (max-width: 500px){
.spinner
{
  	width: 350px;
  	height: 350px;
  	border: 20px solid #f2f2f2;
  	border-radius: 50%;
  	border-top: 20px solid #9356DC;
  	border-bottom: 20px solid #FF79DA;
 }
 }

.logo_spinner
{
	font-family: 'Shrikhand', cursive;
	font-size: 2em;
  	position: absolute;
  	display: inline-block;
  	top: 45%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	animation-name: logo_spinner;
  	animation-duration: 3s;
}

@keyframes logo_spinner {
	0% {opacity: 0;}
	40% {opacity: 0;}
	100% {opacity: 1;}
}

.apparition_index
{
	position: relative;
  	animation-name: apparition_index;
  	animation-duration: 4s;
}

@keyframes apparition_index
{
	0% {opacity: 0;}
	45% {opacity: 0;}
	46% {bottom: -700px;}
	100% {opacity: 1; bottom: 0;}
}

@media (max-width: 768px){
.apparition_index
{
	position: relative;
  	animation-name: apparition_index768;
  	animation-duration: 4s;
}
}

@keyframes apparition_index768
{
	0% {opacity: 0;}
	45% {opacity: 0;}
	46% {bottom: -500px;}
	100% {opacity: 1; bottom: 0;}
}

@media (max-width: 500px){
.apparition_index
{
	position: relative;
  	animation-name: apparition_index500;
  	animation-duration: 4s;
}
}

@keyframes apparition_index500
{
	0% {opacity: 0;}
	45% {opacity: 0;}
	46% {bottom: -300px;}
	100% {opacity: 1; bottom: 0;}
}

.logo
{
	font-family: 'Shrikhand', cursive;
	font-size: 2em;
	display: flex;
	justify-content: center;
}

*:focus {
outline: none;
}

a /*Liens non survolés*/
{
	text-decoration: none;
	color: black;
}


header
{
	margin-top: 15px;
	padding: 0;
	position: relative;
	padding-bottom: 0;
}

@media (max-width: 500px){
header
{	margin-top: 0;
	padding-bottom: 5px;
}
}

.presentation
{
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 30px;
}

@media (max-width: 768px){
.presentation
{
	padding-bottom: 20px;
}
}

@media (max-width: 500px){
.presentation
{
	display: block;
	padding-top: 0;
	padding-bottom: 15%;
	background-color: #f2f2f2;
}
}

.presentation .presentation__recherche
{
	width: 45%;
	height: 10%;
	margin-right: 5%;
	margin-left: 1%;
	box-shadow: inset 0px 6px 3px rgba(160, 160, 160, .6);
	padding: 17px 0;
	margin-top: 0;
	background-color: #e2e2e0;
}

@media (max-width: 768px){
.presentation .presentation__recherche
{
	margin-right: 3%;
	margin-left: 0;
}
}
@media (max-width: 500px){
.presentation .presentation__recherche
{
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}
}

.recherche__champ_recherche
{
	background-color: #e2e2e0;
	padding-left: 15px;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: bold;
}

.recherche__champ_recherche a:active
{
	border: none;
}

.recherche__map_champ
{
	margin-left: 5%;
}

@media (max-width: 500px){
.recherche__map_champ
{
	margin-left: 25%;
}
}

.fa-map-marker-alt
{
	color: black;
}

.recherche_reserver
{
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 10px;
}

@media (max-width: 500px){
.recherche_reserver
{
	display: block;
	margin-bottom: 0;
}
}

.presentation__reserver
{
	width: 60%;
}

@media (max-width: 768px){
	.presentation__reserver
{
	width: 55%;
}
}

@media (max-width: 500px){
	.presentation__reserver
{
	width: 100%;
}
}

h1
{
	font-size: 1.6em;
	text-align: center;
	padding: 0;
	margin-top: 20px;
	padding: 0 20px 0 20px;
}

@media (max-width: 768px){
h1
{
	margin-left: 30px;
	margin-top: 0;
	padding: 0 10px 0 10px;
}
}

@media (max-width: 500px){
h1
{
	margin-left: 0px;
	padding: 17px 37px 0px 37px;
	margin-top: 0;
}
}

.decouvrir_explorer
{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media (max-width: 500px){
	.decouvrir_explorer {
	margin-top: 0px;
}
}

.presentation__decouvrir
{
	width: 100%;
}

.decouvrir_explorer p
{
	margin: 20px 10px 13px 10px;
	text-align: center;
	font-size: 1.4em;
}

@media (max-width: 500px){
.decouvrir_explorer p
{
	margin-top: 10px;
	margin-bottom: 13px;
	font-size: 1.1em;
}
}

.reserver__explorer
{
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
}
}

.explorer__btn
{
	text-align: center;
	width: 20%;
	font-size: 1.3em;
	color: white;
	background: linear-gradient(#FF79DA, #9356DC);
	padding: 19px 15px;
	border-radius: 30px;
	box-shadow: 4px 4px 4px lightgrey;
	border: none;
}

@media (max-width: 768px) {
.explorer__btn
{
	text-align: center;
	width: 37%;
	font-size: 1.1em;
	color: white;
	background: linear-gradient(#FF79DA, #9356DC);
	padding: 19px 15px;
	border-radius: 30px;
	box-shadow: 4px 4px 4px lightgrey;
	border: none;
}
}

@media (min-width: 767px) {
.explorer__btn
{
	text-align: center;
	width: 50%;
	font-size: 1.1em;
	color: white;
	background: linear-gradient(#FF79DA, #9356DC);
	padding: 19px 15px;
	border-radius: 30px;
	box-shadow: 4px 4px 4px lightgrey;
	border: none;
}
}

@media (max-width: 500px){
.explorer__btn
{
	text-align: center;
	width: 68%;
	margin-top: 0px;
	font-size: 1.1em;
	padding: 16px 5px;
	color: white;
	background: linear-gradient(#FF79DA, #9356DC);
	border-radius: 30px;
	box-shadow: 4px 4px 4px lightgrey;
	border: none;
}
}

.fonctionnement h2
{
	margin-right: 5%;
	font-size: 1.4em;
	margin-left: 6%;
}

@media (max-width: 768px){
.fonctionnement h2
{
	margin-right: 5%;
	font-size: 1.4em;
	margin-left: 5%;
}
}

@media (max-width: 500px){
.fonctionnement h2
{
	margin-right: 0;
	font-size: 1.4em;
	margin-left: 20px;
	margin-top: 13%;
}
}

.fonctionnement li
{
	font-size: 1em;
	font-weight: bold;
	border: none;
	padding: 26px 0px;
	width: 30%;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 4px 4px 4px lightgrey;
	background-color: #f7f7f7;
}
.fonctionnement li:hover 
{
	background-color: #ece2f9;
	box-shadow: 6px 6px 6px lightgrey;}

@media (max-width: 1024px){
.fonctionnement li
{
	font-size: 1em;
	font-weight: bold;
	border: none;
	padding: 20px 0px;
	width: 27%;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 4px 4px 4px lightgrey;
	background-color: #f7f7f7;
}
}

@media (max-width: 768px){
.fonctionnement li
{
	font-size: .9em;
	font-weight: bold;
	border: none;
	padding: 20px 0px;
	width: 28%;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 4px 4px 4px lightgrey;
	background-color: #f7f7f7;
}
}

@media (max-width: 500px){
.fonctionnement li
{
	font-size: 1em;
	font-weight: bold;
	border: none;
	padding: 26px 0px;
	width: 87%;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 4px 4px 4px lightgrey;
	background-color: #f7f7f7;
}
}
.fonctionnement li:hover 
{
	background-color: #ece2f9;
	box-shadow: 6px 6px 6px grey;}

nav
{
	margin-bottom: 30px;
		margin-left: 10px;
}

@media (max-width: 768px){
	nav
{
	margin-bottom: 20px;
	margin-left: 5px;
}
}

@media (max-width: 500px){
	nav
{
	margin-left: 10px;
}
}


ol
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

@media (max-width: 767px){
ol
{
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}
}

.num
{
	margin-left: -7%;
	padding: 4px 9px;
	border-radius: 50%;
	background-color: #9356DC;
	color: white;
	font-size: 0.8em;
}

@media (max-width: 500px){
.num
{
	margin-left: -3%;
	padding: 4px 9px;
	border-radius: 50%;
	background-color: #9356DC;
	color: white;
	font-size: 0.8em;
}
}

.icone1
{
	margin-right: 6%;
	margin-left: 10%;
	color: grey;
	font-size: 1.4em;
}

@media (max-width: 768px){
.icone1
{
	margin-right: 3%;
	margin-left: 3%;
	color: grey;
	font-size: 1.3em;
}
}

@media (max-width: 500px){
.icone1
{
	margin-right: 6%;
	margin-left: 10%;
	color: grey;
	font-size: 1.4em;
}
}

.fonctionnement li:hover .icone1
{color: #9356DC;}

.icone2
{
	margin-right: 5%;
	margin-left: 10%;
	color: grey;
	font-size: 1.3em;
}

@media (max-width: 768px){
.icone2
{
	margin-right: 3%;
	margin-left: 3%;
	color: grey;
	font-size: 1.2em;
}
}

@media (max-width: 500px){
.icone2
{
	margin-right: 5%;
	margin-left: 10%;
	color: grey;
	font-size: 1.3em;
}
}

.fonctionnement li:hover .icone2
{color: #9356DC;}

.icone3
{
	margin-right: 10%;
	margin-left: 5%;
	color: grey;
	font-size: 1.2em;
}

@media (max-width: 768px){
.icone3
{
	margin-right: 3%;
	margin-left: 3%;
	color: grey;
	font-size: 1.1em;
}
}

@media (max-width: 500px){
.icone3
{
	margin-left: 10%;
	margin-right: 5%;
	color: grey;
	font-size: 1.2em;
}
}

.fonctionnement li:hover .icone3
{color: #9356DC;}

.restaurants
{
	margin: 0 20px 30px 20px;
	border-radius: 30px;
	background-color: #f7f7f7;
	padding-top: 1%;
	padding-bottom: 7%;
}

@media (max-width: 768px){
	.restaurants
{
	margin: 0 5px 30px 5px;
	border-radius: 0;
	background-color: #f7f7f7;
	padding-top: 1%;
	padding-bottom: 7%;
}
}

@media (max-width: 500px){
.restaurants
{
	margin: 0;
	background-color: #f7f7f7;
	padding-top: 10%;
	padding-bottom: 10%;
}
}


.restaurants h2
{
	margin-bottom: 0;
	margin-left: 5%;
}

@media (max-width: 500px){
.restaurants h2
{
	margin-left: 5%;
}
}

.restaurants h3
{
	margin-top: 10px;
	margin-left: 15px;
}

.restaurants p
{
	margin-bottom: 20px;
	margin-left: 15px;
	margin-top: -13px;
}

@media (max-width: 500px){
.restaurants p
{
	margin-bottom: 0;
	margin-left: 15px;
	margin-top: -13px;
}
}

.container_resto
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
}

@media (max-width: 500px){
.container_resto
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}
}

.container_resto__resto1
{
	background-image: url(../img/la_palette_du_gout.jpg);
	background-position: bottom;
}

.container_resto__resto2
{
	background-image: url(../img/la_note_enchantee.jpg);
	background-position-y: 60%;
}

.container_resto__resto3
{
	background-image: url(../img/a_la_francaise.jpg);
	background-position: bottom;
}

.container_resto__resto4
{
	background-image: url(../img/le_delice_des_sens.jpg);
	background-position: bottom;
}


.container_resto__carte
{
	border-radius: 20px;
	background-color: white;
	width: 42%;
	height: auto;
	margin-top: 4%;
}


@media (max-width: 500px){
.container_resto__carte
{
	border-radius: 20px;
	background-color: white;
	width: 90%;
	height: 254px;
	margin-top: 15px;
}
}

.container_resto__photo
{
	width: 100%;
	height: 177px;
	background-size: cover;
	border-radius: 20px 20px 0 0;
}

.new
{
	position: absolute;
	background-color: #99E2D0;
	padding: 5px 13px;
	margin-left: 31%;
	margin-top: 2%;
	color: #10715a;
	font-weight: bold;
}

@media (max-width: 768px){
.new
{
	position: absolute;
	background-color: #99E2D0;
	padding: 5px 13px;
	margin-left: 28%;
	margin-top: 2%;
	color: #10715a;
	font-weight: bold;
}
}

@media (max-width: 500px){
.new
{
	position: absolute;
	background-color: #99E2D0;
	padding: 5px 13px;
	margin-left: 60%;
	margin-top: 4%;
	color: #10715a;
	font-weight: bold;
}
}

.fa-heart
{
	color: white;
	position: absolute;
	margin-left: 36%;
	margin-top: -4%;
	font-size: 1.5em;
	cursor: pointer;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (max-width: 1024px){
.fa-heart
{
	position: absolute;
	margin-left: 36%;
	margin-top: -5%;
	font-size: 1.5em;
	cursor: pointer;
}
}

@media (max-width: 768px){
.fa-heart
{
	position: absolute;
	margin-left: 36%;
	margin-top: -7%;
	font-size: 1.5em;
	cursor: pointer;
}
}

.fa-heart:hover  
{
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: linear-gradient(#9356DC,#FF79DA);
	text-shadow: none;
	font-size: 1.8em;
	animation-name: heart_hover;
	animation-duration: 1.3s;
	animation-fill-mode: forwards;
	}

@keyframes heart_hover {
	0% {height: 0; background-image: linear-gradient(#9356DC,#FF79DA);}

	70% {height: 27px; background-image: linear-gradient(#9356DC,#FF79DA);transform: scale(1,1);}
	75% {transform: scale(1.5,1.5);}
	100% {transform: scale(1,1);}
}


@media (max-width: 500px){
.fa-heart
{
	position: absolute;
	margin-left: 77%;
	margin-top: -8%;
	font-size: 1.5em;
	cursor: pointer;
}
}

.heart_resto
{
	position: absolute;
	margin-left: 86%;
	margin-top: -15%;
	font-size: 1.5em;
	color: #f2f2f2;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	cursor: pointer;
}


footer
{
	padding: 10px 0 35px 35px;
	color: white;
	background-color: #333333;
}

@media (max-width: 500px){
footer
{
	padding: 5px 0 35px 20px;
	color: white;
	background-color: #333333;
}
}

footer h3
{
	font-size: 1.1em;
	font-family: 'Shrikhand', cursive;
}

.proposer span
{
	color: white;
	margin-right: 17px;
}

.devenir span
{
	color: white;
	margin-right: 10px;
}

footer a
{
	color: white;
}

/*Style.css des pages "la palette du gout" "la note enchantée "le délice des sens" et "à la française*/
.arrow_left
{
	position: absolute;
	margin-top: 4%;
	margin-left: 6%; 
}

.photo
{
	width: 100%;
	background-size: cover;
	background-position: bottom;
}

.photo2 /* photo du restaurant "la note enchantée" qui a un format différent*/
{
	width: 100%;
	height: 280px;
	object-fit: cover;
}


.menu
{
	width: 100%;
	background-color: #f2f2f2;
	margin-top: -15%;
	padding-bottom: 10px;
}

.menu__titre
{
	width: 12%;
	padding-bottom: 5px;
	border-bottom: 3px solid #99E2D0;
	margin-bottom: 15px;
	margin-top: 30px;
	margin-left: 4%;
}


.menu__resto
{
	position: relative;
	background-color: #f2f2f2;
	padding-top: 10px;
	border-radius: 30px 30px 0 0;
}
.menu__resto h2
{
	padding-top: 0;
	padding-left: 4%;
	font-family: 'Shrikhand';
	font-size: 1.7em;
}

.plats
{
	margin-top: 50px;
}

.desserts
{
	margin-top: 50px;
}

.menu__titre h2
{
	font-size: 1.7em;
}

p
{
	margin: 0;
	margin-top: 5px;
}

.menu__btn
{
	position: relative;
	background-color: white;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 4px 4px 4px lightgrey;
	margin-bottom: 16px;
	margin-left: 3%;
	width: 93%;
	animation-duration: 2s;
	animation-name: apparition_btn;
}

@keyframes apparition_btn {
	0% {transform: translateY(20px);
		opacity: 0;}
		
		25%{opacity: 0;}
	
	100% {opacity: 1;
		transform: translateY(0px);}
}

.btn__overlay
{
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	border-radius: 0 15px 15px 0;
	background-color: #99E2D0;
	overflow: hidden;
  	height: 100%;
  	transition: .5s ease;
}

.menu__btn:hover
{cursor: pointer;}


.menu__btn:hover .btn__overlay
{
	height: 100%;
	left: 82%;	
}

.fa-check-circle
{
	font-size: 1.5em;
	background-color: #99E2D0;
	color: white;
	border-radius: 50%;
	position: absolute;
  	overflow: hidden;
  	top: 33%;
  	left: 31%;
}

.menu__btn:hover .fa-check-circle
{	animation-name: rotation_check_circle;
  	animation-duration: 500ms;
}

@keyframes rotation_check_circle {

  	0% {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
	}

.menu__btn h3
{
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	width: 88%;
	/*Nécessaires pour text-overflow*/
	white-space: nowrap;
	overflow: hidden;
	transition: .5s ease;
}

.menu__btn:hover h3
{
	width: 63%;
	text-overflow: ellipsis;
}

.menu__btn p
{
	font-size: 0.9em;
	width: 90%;
	/*Nécessaires pour text-overflow*/
	white-space: nowrap;
	overflow: hidden;
	transition: .5s ease;
}

.menu__btn:hover p
{
	width: 67%;
	text-overflow: ellipsis;
}

.menu__prix
{
	position: absolute;
	margin-left: 83%;
	margin-top: -5.5%;
	font-weight: bold;
  	transition: .5s ease;
}

.menu__btn:hover .menu__prix
{
	margin-left: 64%;
}

.commander
{
	display: flex;
	justify-content: center;
	background-color: #f2f2f2;
}

.commander__btn
{
	text-align: center;
	width: 65%;
	margin-top: 5%;
	margin-bottom: 25%;
	font-size: 1em;
	color: white;
	background: linear-gradient(#FF79DA, #9356DC);
	padding: 16px 20px;
	border-radius: 30px;
	box-shadow: 4px 4px 4px lightgrey;
	border: none;
}
