@font-face {
 	font-family: 'Roboto';
 	src: url("../Roboto/Roboto-Regular.ttf");
 	font-weight: normal;
 	font-style: normal;
 	font-display: swap;/*Assure une police présente dans le navigateur le temps de chargement de la police*/
}

@font-face {
    font-family: 'Shrikhand';
    src: url("../Shrikhand/Shrikhand-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap; /*Assure une police présente dans le navigateur le temps de chargement de la police*/
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

* {
  box-sizing: border-box; /*garantit aux éléments un remplissage et une bordure inclus dans la largeur et la hauteur*/
}

.space_spinner {
	display: flex;
	justify-content: center;
	background-color: #f2f2f2;
	width: 100%;
	height: 100%;
	position: fixed; /*L'élément reste au même endroit même si la page défile*/
	z-index: 10; /*Détermine l'ordre des différentes couches lorsque des éléments se chevauchent*/
	animation-name: space_spinner;
	animation-duration: 3s;
	animation-fill-mode: forwards; /*Permet de garder l'animation de la façon dont elle s'est terminée*/
}

@keyframes space_spinner {
	0% {opacity: 1;}
	50% {opacity: 1;}
	100% {opacity: 0; z-index: -10;}
}

.spinner {
  	width: 300px;
  	height: 300px;
  	border: 20px solid #f2f2f2;
  	border-radius: 50%;
  	border-top: 20px solid #9356DC;
  	border-bottom: 20px solid #FF79DA;
  	top: calc(50% - 150px);
  	position: absolute;
  	animation-name: spinner;
  	animation-duration: 3s; 
  	animation-timing-function: cubic-bezier(0, -2, 1, 1); /*Permet de créer un mouvement dynamique à l'animation*/
}

@keyframes spinner {
	0% {transform: rotate(0deg);}
	80%{opacity: 0;}
	100%{transform: rotate(720deg); opacity: 0;}
}

.apparition_index {
	position: relative;
  	animation-name: apparition_index;
  	animation-duration: 4s;
}

@keyframes apparition_index {
	0% {opacity: 0; }
	45% {opacity: 0;}
	46% {bottom: -400px;}
	100% {opacity: 1; bottom: 0;}
}

.bloc_page {
	max-width: 1400px;
	margin: auto;
}

@media (max-width: 1400px) {
	.bloc_page {
		margin: 0 50px;
	}
}

@media (max-width: 1200px) {
	.bloc_page {
		margin: 0 20px;
	}
}

@media (max-width: 768px) {
	.bloc_page {
		margin: 0 10px;
	}
}

@media (max-width: 500px) {
	.bloc_page {
		margin: 0;
	}
}

.logo {
	font-family: 'Shrikhand', cursive;
	font-size: 2em;
	display: flex;
	justify-content: center;
}

*:focus {
outline: none; /*permet de ne pas avoir de bordure au clic dans un champ de saisie*/
}

a /*Liens non survolés*/{
	text-decoration: none;
	color: black;
}

header {
	padding: 15px 0 10px 0;
	position: relative;
}

@media (max-width: 500px){
	header {
	padding: 5px 0 5px 0;
	}
}

.presentation {
	margin: 0 20px 0 20px;
	padding-top: 20px;
	padding-bottom: 30px;
}

@media (max-width: 768px){
	.presentation {
	padding-bottom: 20px;
	margin: 0;
	}
}

@media (max-width: 500px){
	.presentation {
		display: block;
		padding-top: 0;
		padding-bottom: 12%;
		background-color: #f7f7f7;
	}
}

.recherche_reserver {
	margin: 0 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: row-reverse;
	margin-bottom: 10px;
}

@media (max-width: 600px){
	.recherche_reserver {
		display: block;
		margin: 0;
	}
}

.presentation .presentation__recherche {
	width: 400px;
	height: 50px;
	margin-top: 20px;
	box-shadow: inset 0px 6px 3px rgba(160, 160, 160, .6);
	padding: 17px 0px;
	margin: 0;
	background-color: #e2e2e0;
}

@media (max-width: 1024px) {
	.presentation .presentation__recherche {
		width: 300px;
	}
}

@media (max-width: 768px) {
	.presentation .presentation__recherche
	{
		width: 45%;
		margin-right: 3%;
	}
}

@media (max-width: 600px) {
	.presentation .presentation__recherche {
		width: 90%;
		margin: 0 30px;
	}
}

@media (max-width: 500px){
	.presentation .presentation__recherche {
		width: 100%;
		margin: 0;
	}
}

.recherche__champ_recherche {
	background-color: #e2e2e0;
	padding-left: 15px;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: bold;
}

.recherche__map_champ {
	margin-left: 5%;
}

@media (max-width: 500px){
	.recherche__map_champ {
		margin-left: 25%;
	}
}

.fa-map-marker-alt {
	color: black;
}

.presentation__reserver {
	width: 63%;
}

@media (max-width: 768px){
	.presentation__reserver
	{
		width: 55%;
	}
}

@media (max-width: 600px){
	.presentation__reserver {
		width: 100%;
	}
}

h1 {
	font-size: 1.6em;
	text-align: left;
	margin: 0;
	padding: 13px 60px 0 0;
}

@media (max-width: 897px){
	h1 {
			text-align: center;
			padding: 17px 37px 0px 37px;
			margin-bottom: -8px;
			padding: 0 80px 0 0;
	}
}

@media (max-width: 768px){
	h1 {
			margin-top: 0;
			padding: 0 50px 0 0;
	}
}

@media (max-width: 600px){
	h1 {
		margin-left: 0px;
		padding: 17px 37px 10px 37px;
		margin-top: 20px;
	}
}

.decouvrir_explorer {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media (max-width: 500px){
	.decouvrir_explorer  {
		margin-top: 0;
	}
}

.presentation__decouvrir {
	width: 100%;
}

.decouvrir_explorer p {
	margin: 50px 10px 13px 10px;
	text-align: center;
	font-size: 1.4em;
}

@media (max-width: 880px){
	.decouvrir_explorer p {
		margin: 40px 30px 13px 30px;
	}
}

@media (max-width: 500px){
	.decouvrir_explorer p {
		margin: 10px 50px 13px 50px;
		font-size: 1.1em;
	}
}

@media (max-width: 414px){
	.decouvrir_explorer p
	{
		margin: 10px 5px 13px 5px;
		font-size: 1.1em;
	}
}

.reserver__explorer {
	display: flex;
	justify-content: center;
}

.explorer__btn  {
	margin-top: 30px;
	text-align: center;
	width: 300px;
	font-size: 1.3em;
	color: white;
	background: linear-gradient(#FF79DA, #9356DC);
	padding: 19px 15px;
	border-radius: 30px;
	box-shadow: 6px 6px 13px lightgrey;
	border: none;
}

.explorer__btn:hover {
	opacity: 0.7;
	box-shadow: 6px 6px 8px black;
}

@media (max-width: 1024px) {
	.explorer__btn {
		width: 270px;
		font-size: 1.2em;
	}
}

@media (max-width: 768px) {
	.explorer__btn {
		margin-top: 20px;
		width: 262px;
		font-size: 1.1em;
	}
}

@media (max-width: 500px) {
	.explorer__btn {
		width: 244px;
		padding: 15px 15px;
	}
}

.fonctionnement h2 {
	font-size: 1.4em;
	margin-bottom: 0; /*permet d'enlever le margin intégré au h2 par défaut*/
	margin-left: 5%;
}

@media (max-width: 500px){
	.fonctionnement h2 {
		margin-left: 20px;
		margin-top: 13%;
	}
}

nav {
	margin-bottom: 30px;
	margin-left: 10px;
}

@media (max-width: 768px){
	nav {
		margin-bottom: 20px;
	}
}

@media (max-width: 500px){
	nav {
		margin-left: 10px;
	}
}

ol {
	margin-left: 20px;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

@media (max-width: 1020px){
	ol
	{
		justify-content: flex-start;
	}
}

@media (max-width: 500px){
	ol {
		margin-left: 0;
		justify-content: center;
	}
}

.fonctionnement li {
	font-size: 1em;
	font-weight: bold;
	border: none;
	padding: 27px 0px;
	width: 285px;
	margin-bottom: 28px;
	border-radius: 20px;
	box-shadow: 4px 4px 13px lightgrey;
	background-color: #f7f7f7;
	margin-right: 4%;
}

@media (max-width: 1120px) {
	.fonctionnement li {
		width: 270px;
		padding: 24px 0px;
	}
}

@media (max-width: 1024px) {
	.fonctionnement li {
		font-size: .9em;
		width: 29%;
		margin-right: 4%;
	}
}

@media (max-width: 750px) {
	.fonctionnement li
	{
		width: 220px;
	}
}

@media (max-width: 700px) {
	.fonctionnement li {
		font-size: 1em;
		width: 60%;
		margin-right: 0;
	}
}

@media (max-width: 600px) {
	.fonctionnement li {
		font-size: 1em;
		width: 87%;
	}
}

@media (max-width: 340px) {
	.fonctionnement li {
		font-size: 0.9em;
		width: 87%;
	}
}

.fonctionnement li:hover {
	background-color: #ece2f9;
	box-shadow: 6px 6px 13px grey;
}

.num {
	margin-left: -7%;
	padding: 4px 9px;
	border-radius: 50%;
	background-color: #9356DC;
	color: white;
	font-size: 0.8em;
}

@media (max-width: 700px){
	.num {
		margin-left: -3%;
	}
}

.icone1 {
	margin-right: 6%;
	margin-left: 10%;
	color: grey;
	font-size: 1.4em;
}

@media (max-width: 1024px) {
	.icone1 {
		font-size: 1.3em;
	}
}

@media (max-width: 850px){
	.icone1 {
		margin-right: 3%;
		margin-left: 3%;
	}
}

@media (max-width: 700px){
	.icone1 {
		margin-right: 6%;
		margin-left: 10%;
		font-size: 1.4em;
	}
}

.fonctionnement li:hover .icone1 {
	color: #9356DC;
}

.icone2 {
	margin-right: 5%;
	margin-left: 10%;
	color: grey;
	font-size: 1.3em;
}

@media (max-width: 1024px)	{
	.icone2 {
		font-size: 1.2em;
	}
}

@media (max-width: 850px){
	.icone2 {
		margin-right: 3%;
		margin-left: 3%;
	}
}

@media (max-width: 700px){
	.icone2 {
		margin-right: 5%;
		margin-left: 10%;
		font-size: 1.3em;
	}
}

.fonctionnement li:hover .icone2 {
	color: #9356DC;
}

.icone3 {
	margin-right: 7%;
	margin-left: 10%;
	color: grey;
	font-size: 1.2em;
}

@media (max-width: 1024px){
	.icone3 {
		font-size: 1.1em;
	}
}

@media (max-width: 850px){
	.icone3 {
		margin-right: 3%;
		margin-left: 3%;
	}
}

@media (max-width: 700px){
	.icone3 {
		margin-right: 5%;
		margin-left: 10%;
		font-size: 1.2em;
	}
}

.fonctionnement li:hover .icone3 {
	color: #9356DC;
}

.restaurants {
	margin: 0 20px 30px 20px;
	border-radius: 30px;
	background-color: #f7f7f7;
	padding-top: 1%;
	padding-bottom: 7%;
}

@media (max-width: 768px){
	.restaurants {
		margin: 0 5px 30px 5px;
		border-radius: 0;
	}
}

.restaurants h2 {
	margin-left: 5%;
	margin-bottom: 0;
}

.restaurants h3 {
	margin-top: 10px;
	margin-left: 15px;
}

.restaurants p {
	margin-bottom: 20px;
	margin-left: 15px;
	margin-top: -13px;
}

@media (max-width: 500px){
	.restaurants p {
		margin-bottom: 0;
	}
}

.container_resto {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
}

@media (max-width: 700px){
	.container_resto {
	justify-content: center;
	}
}

.container_resto__resto1 {
	background-image: url(../img/la_palette_du_gout.jpg);
	background-position: bottom;
}

.container_resto__resto2 {
	background-image: url(../img/la_note_enchantee.jpg);
	background-position-y: 60%; /*permet de positionner la photo dans son cadre*/
}

.container_resto__resto3 {
	background-image: url(../img/a_la_francaise.jpg);
	background-position: bottom;
}

.container_resto__resto4 {
	background-image: url(../img/le_delice_des_sens.jpg);
	background-position: bottom;
}

.container_resto__carte {
	border-radius: 20px;
	background-color: white;
	width: 45%;
	height: auto;
	margin-top: 15px;
}

@media (max-width: 1024px){
	.container_resto__carte {
		border-radius: 20px;
	}
}

@media (max-width: 700px){
	.container_resto__carte {
		background-color: white;
		width: 90%;
		height: 254px;
		margin-top: 15px;
	}
}

.container_resto__photo {
	width: 100%;
	height: 240px;
	background-size: cover;
	border-radius: 20px 20px 0 0;
}

@media (max-width: 1200px) {
.container_resto__photo {
	height: 177px;
	}
}

.new {
	position: absolute;
	background-color: #99E2D0;
	padding: 5px 13px;
	margin-left: 35%;
	margin-top: 2%;
	color: #10715a;
	font-weight: bold;
}

@media (max-width: 1024px){
	.new {
		margin-left: 33%;
	}
}

@media (max-width: 900px){
	.new {
	margin-left: 32%;
	}
}

@media (max-width: 800px){
	.new {
		margin-left: 30%;
	}
}

@media (max-width: 700px){
	.new {
		margin-left: 70%;
		margin-top: 4%;
	}
}

@media (max-width: 500px){
	.new {
		margin-left: 63%;
	}
}

@media (max-width: 400px){
	.new {
	margin-left: 57%;
	}
}

.fa-heart {
	color: white;
	position: absolute;
	margin-left: 40%;
	margin-top: 2%;
	font-size: 1.8em;
	cursor: pointer;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (max-width: 1024px){
	.fa-heart {
		font-size: 1.6em;
		margin-top: 2.5%;
		margin-left: 38%;
	}
}

@media (max-width: 768px){
	.fa-heart {
		margin-top: 4%;
	}
}

@media (max-width: 700px){
	.fa-heart {
		margin-left: 81%;
	}
}

@media (max-width: 600px){
	.fa-heart {
		margin-left: 81%;
		margin-top: 6%;
	}
}

@media (max-width: 500px){
	.fa-heart  {
		margin-left: 77%;
	}
}

.fa-heart:hover {
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: linear-gradient(#9356DC,#FF79DA);
	text-shadow: none;
	animation-name: heart_hover;
	animation-duration: 1.1s;
	animation-fill-mode: forwards;
}

@keyframes heart_hover {
	0% {height: 0;}
	70% {height: 35px; transform: scale(1,1);}
	75% {transform: scale(1.5,1.5);}
	100% {transform: scale(1,1);}
}

footer {
	padding: 30px 0px 50px 60px;
	color: white;
	background-color: #333333;
	margin-bottom: 10px;
}

@media (max-width: 768px){
	footer {
		padding: 10px 40px 35px 35px;
	}
}

@media (max-width: 500px){
	footer {
		padding: 5px 0 35px 20px;
		margin-bottom: 0;
	}
}

footer h3 {
	margin-left: 0;
	font-size: 1.1em;
	font-family: 'Shrikhand', cursive;
}


.footer__dispo {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}


@media (max-width: 650px) {
	.footer__dispo {
		display: block;
		margin-bottom: 0;
	}
}

.form {
	margin-right: 100px;
}

.proposer {
	margin-bottom: 10px;
}

@media (max-width: 650px){
	.proposer {
		margin-bottom: 0;
	}
}

.mentions {
	margin-bottom: 10px;
}

@media (max-width: 650px){
	.mentions {
		margin-bottom: 0;
	}
}

.proposer span {
	color: white;
	margin-right: 17px;
}

.devenir span {
	color: white;
	margin-right: 10px;
}

footer a {
	color: white;
}

/*Style.css des pages "la palette du gout" "la note enchantée "le délice des sens" et "à la française*/

.arrow_left {
	position: absolute;
	margin-top: 1%;
	margin-left: 6%; 
}

@media (max-width: 1024px){
	.arrow_left {
		margin-left: 8%; 
		margin-top: 1.5%;
	}
}

@media (max-width: 600px){
	.arrow_left {
		margin-top: 3%;
		margin-left: 6%; 
	}
}

@media (max-width: 350px){
	.arrow_left {
		margin-top: 4.5%;
		margin-left: 4%; 
	}
}

.photo_nom_resto {
	position: relative;
	color: white;
}

@media (max-width: 600px){
	.photo_nom_resto {
		color: black;
	}
}

.photo {
	width: 100%;
	height: 400px;
	object-fit: cover;
	filter: brightness(70%);
}

/*.photo:hover {
	filter: none;
}*/

@media (max-width: 768px){
	.photo {
		height: 300px;
	}
}

@media (max-width: 600px){
	.photo {
		height: 250px;
	}
}

.heart_resto {
	position: absolute;
	margin-left: 110%;
	margin-top: 3.5%;
	font-size: 2em;
	color: #f2f2f2;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	cursor: pointer;
}

@media (max-width: 768px) {
	.heart_resto {
		margin-top: 4%;
		font-size: 1.6em;
	}
}

@media (max-width: 600px) {
	.heart_resto {
		margin-top: 5.5%;
		margin-left: 65%;
	}
}

@media (max-width: 500px) {
	.heart_resto {
		margin-top: 7%;
		margin-left: 85%;
	}
}

@media (max-width: 350px) {
	.heart_resto {
		margin-top: 8.5%;
		margin-left: 90%;
	}
}

.menu {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media (max-width: 600px){
	.menu {
	background-color: #f2f2f2;
	display: block;
	margin-top: -15%;
	}
}

.menu__titre {/*container comprenant les titres "ENTREES", "PLATS", "DESSERTS"*/
	width: 12%;
	padding-bottom: 5px;
	border-bottom: 3px solid #99E2D0;
	margin-bottom: 40px;
	margin-top: 30px;
	margin-left: 5%;
}

@media (max-width: 768px){
	.menu__titre {
		margin-bottom: 30px;
		margin-top: 20px;
	}
}

@media (max-width: 600px){
	.menu__titre {
		margin-bottom: 15px;
		margin-top: 10px;
	}
}

.menu__resto {/*container comprenant le nom du restaurant et le "fa-heart"*/
	position: absolute;
	left: 4%;
	top: 80%;
}

@media (max-width: 600px){
	.menu__resto {
		width: 100%;
		top: 0;
		left: 0;
		height: auto;
		position: relative;
		background-color: #f2f2f2;
		padding: 10px 0 1px 0;
		margin-top: -33px;
		border-radius: 30px 30px 0 0;
	}
}

.menu__resto h2 {
	font-family: 'Shrikhand';
	font-size: 2.5em;
	margin: 0;
}

@media (max-width: 768px) {
	.menu__resto h2 {
		font-size: 2em;
	}
}

@media (max-width: 600px) {
	.menu__resto h2 {
		padding-left: 5%;
		padding-top: 20px;
		font-size: 1.7em;
	}
}

@media (max-width: 350px) {
	.menu__resto h2 {
		padding-left: 2%;
	}
}

.entrees {
	width: 33%;
}

@media (max-width: 1000px) {
.entrees {
		width: 50%;
	}
}

@media (max-width: 700px) {
	.entrees {
		width: 75%;
	}
}

@media (max-width: 600px) {
	.entrees {
		padding-top: 34px;
		margin-top: 40px;
	}
}

@media (max-width: 500px) {
	.entrees {
		padding-top: 20px;
		margin-top: 30px;
		width: 100%;
	}
}

.plats {
	width: 33%;
}

@media (max-width: 1000px) {
	.plats {
		width: 50%;
	}
}

@media (max-width: 700px) {
	.plats {
		width: 75%;
	}
}

@media (max-width: 500px) {
	.plats {
		margin-top: 50px;
		width: 100%;
	}
}

.desserts {
	width: 33%;
}

@media (max-width: 1000px) {
	.desserts {
		width: 50%;
	}
}

@media (max-width: 700px) {
	.desserts {
		width: 75%;
	}
}

@media (max-width: 500px) {
	.desserts {
		margin-top: 50px;
		width: 100%;
	}
}

.menu__titre h2 {
	font-size: 1.7em;
}

p {
	margin: 0;
	margin-top: 5px;
}

.container__btn {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.menu__btn {
	position: relative;
	background-color: white;
	padding: 10px 12px;
	border-radius: 15px;
	box-shadow: 4px 4px 13px lightgrey;
	margin-bottom: 35px;
	margin-left: 3%;
	width: 90%;
	animation-duration: 2s;
	animation-name: apparition_btn;
}

@keyframes apparition_btn {
	0% {transform: translateY(20px); /*permet l'apparition progressive des boutons du menus*/
		opacity: 0;}	
	25%{opacity: 0;}
	100% {opacity: 1; transform: translateY(0px);}
}

@media (max-width: 768px) {
	.menu__btn {
		margin-bottom: 20px;
	}
}

@media (max-width: 700px) {
	.menu__btn {
	width: 93%;
	}
}

@media (max-width: 350px) {
	.menu__btn {
	width: 95%;
	margin-left: 2%;
	}
}

.menu__btn:hover {
	cursor: pointer;
}

.btn__overlay {/*coche coulissante à droite des boutons "ENTREES PLATS DESSERTS"*/
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	border-radius: 0 15px 15px 0;
	background-color: #99E2D0;
	overflow: hidden;
  	height: 100%;
  	transition: .5s ease;
}

.menu__btn:hover .btn__overlay {
	height: 100%;
	left: 82%;	
}

.fa-check-circle {
	font-size: 1.5em;
	background-color: #99E2D0;
	color: white;
	border-radius: 50%;
	position: absolute;
  	overflow: hidden;
  	top: 33%;
  	left: 31%;
}

.menu__btn:hover .fa-check-circle {
	animation-name: rotation_check_circle;
  	animation-duration: 500ms;
}

@keyframes rotation_check_circle {

  	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.menu__btn h3 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	width: 95%;
	/*Nécessaires pour text-overflow*/
	white-space: nowrap;
	overflow: hidden;
	transition: .5s ease;
}

.menu__btn:hover h3 {
	width: 63%;
	text-overflow: ellipsis;/* ajoute des points de suspension*/
}

@media (max-width: 1150px){
	.menu__btn h3 {
		font-size: 1em;
	}
}

@media (max-width: 700px){
	.menu__btn h3 {
		font-size: 1.1em;
	}
}

@media (max-width: 340px){
	.menu__btn h3 {
		white-space: normal;/*permet de disposer le texte des boutons sur deux lignes afin de pouvoir lire l'intégralité des plats sur les petits écrans*/
	}
}

@media (max-width: 340px){
	.menu__btn:hover h3 {
		white-space: nowrap;
	}
}

.menu__btn p {
	font-size: 0.9em;
	width: 90%;
	/*Nécessaires pour text-overflow*/
	white-space: nowrap;
	overflow: hidden; /*permet de rogner les mots lors du coulissement de la coche*/
	transition: .5s ease;
}

.menu__btn:hover p {
	width: 67%;
	text-overflow: ellipsis;
}

@media (max-width: 1150px){
	.menu__btn p {
		font-size: 0.8em;
	}
}

@media (max-width: 700px){
	.menu__btn p {
		font-size: 0.9em;
	}
}

@media (max-width: 340px){
	.menu__btn p {
		white-space: normal;
	}
}

@media (max-width: 340px){
	.menu__btn:hover p {
		white-space: nowrap;
	}
}

.menu__prix {
	position: absolute;
	margin-left: 83%;
	margin-top: -6%;
	font-weight: bold;
  	transition: .5s ease;
}

.menu__btn:hover .menu__prix {
	margin-left: 64%; /*permet au prix de se décaler vers la gauche au coulissement de la coche*/
}

.commander {
	display: flex;
	justify-content: center;
}

@media (max-width: 600px) {
	.commander {
		background-color: #f2f2f2;
	}
}

.commander__btn {
	margin-left: 4%;
	text-align: center;
	width: 300px;
	margin-bottom: 8%;
	font-size: 1.5em;
	color: white;
	background: linear-gradient(#FF79DA, #9356DC);
	padding: 25px 25px;
	border-radius: 40px;
	box-shadow: 6px 6px 13px lightgrey;
	border: none;
}

.commander__btn:hover { 
	opacity: 0.7;
	box-shadow: 6px 6px 8px black;/*crée un contour autour du fas fa-heart*/
}

@media (max-width: 1024px){
	.commander__btn {
		width: 250px;
		font-size: 1.2em;
		padding: 20px 20px;
		border-radius: 30px;
		margin-bottom: 10%;
		margin-top: 5%;
	}
}

@media (max-width: 768px){
	.commander__btn {
		width: 250px;
		font-size: 1.2em;
		margin-bottom: 10%;
		margin-top: 0;
	}
}

@media (max-width: 600px){
	.commander__btn {
		width: 170px;
		margin-bottom: 25%;
		font-size: 1em;
		padding: 16px 20px;
}
}
